body
{
	font-family: "Noto Serif", "DejaVu Serif", serif;
	font-size: 17px;
}

h1.booktitle
{
	font-family: "Helvetica", sans-serif;
	font-weight: 300;
	padding-left: 15px;
	margin-bottom: 5px;
	margin-left: 5px;
}


*, ::before, ::after
{
	box-sizing: border-box;
}

span.command,
span.flag,
span.json,
span.file,
span.c,
span.cxx,
span.reg,
span.lua
{
	font-family: "Source Code Pro", monospace;
}
span.reg
{
	font-variant-caps: small-caps;
}
div.note > p
{
	margin-top: 0;
	margin-bottom: 0;
}

div.note, div.warning, div.caution
{
	align: right;
	margin: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: flex;
	box-sizing: border-box;
	border-color: #aaaaaa;
	border-top: solid 0.5px;
	border-bottom: solid 0.5px;
}
div.note::before, div.warning::before, div.caution::before
{
	display: flex;
	align-items: center;
	padding-right:0.5em;
	padding-left:0.5em;
	font-size: 2em;
}
div.note::before
{
	content: "ℹ️ ";
}
div.caution::before
{
	content: "⚠️ ";
}
div.warning::before
{
	content: "⚠";
	color: red;
}

div.note
{
	align: right;
	margin-left: 1em;
	display: flex;
	box-sizing: border-box;
	border-color: #aaaaaa;
	border-top: solid 0.5px;
	border-bottom: solid 0.5px;
}
div.note::before
{
	display: flex;
	align-items: center;
	padding-right:0.5em;
	padding-left:0.5em;
	content: "ℹ️ ";
	font-size: 2em;
	font-family: "Noto Color Emoji";

}

p, pre, ul, ol
{
	margin-block-start: 0px;
}

div.details
{
	border-bottom: 1px, solid, lightgray;
	color: gray;
	padding-left: 15px;
	margin-left: 5px;
}

a
{
	text-decoration: none;
}

@media screen and (min-width: calc(80ch + 20em + 40px))
{
	body
	{
		padding-right: 20em;
	}
	div.minitoc
	{
		margin-top: 0 !important;
		z-index: 10;
		left: auto;
		right: 0;
		position: fixed;
		height: 100%;
		width: 20em;
		padding: 1.25em 1em;
		height: 100% !important;
		overflow: auto;
		display: flex;
		top: 0;
	}
}
@media screen and (max-width: calc(80ch + 20em + 40px))
{
	div.minitoc
	{
		box-sizing: border-box
		width: 100%;
		max-width: 80ch;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding: 20px;
	}
}

div.minitoc
{
	background: #f8f8f7;
	display: flex;
	flex-direction: column;
}
h1.minitoc
{
	font-size: 24px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
}

div.minitoc > ul
{
	padding-left: 0;
}
div.minitoc ul
{
	list-style-type: none;
}

::before, ::after
{
	box-sizing: border-box
}

div.content
{
	box-sizing: border-box
	width: 100%;
	max-width: 80ch;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 20px;
}

dt
{
  font-weight: bold;
}


pre.listing-code-numbered > code.listing-line:before
{
	content: counter(listing-line, decimal) " ";
	-webkit-user-select: none; /* Safari */
	user-select: none;
	float: left;
	text-align: right;
	width: 3em;
	background-color: #ffffff;
	border-right: 1px solid #000000;
	margin-right: 0.5em;
}

pre.listing-code
{
	word-wrap: break-word;
	white-space: pre-wrap;
	tab-size: 4;
	background-color: #f0f0f0;
}

code.listing-line
{
	counter-increment: listing-line
}

p.listing-caption
{
	font-size: 0.8em;
	text-align: center;
}

div.listing
{
  display: block;
  width=100%;
}

span.listing-origin:before
{
  content: " [ from ";
}
span.listing-origin:after
{
  content: " ]";
}

span.code
{
	font: SourceCodePro;
	font-family: monospace;
}
span.code-Declaration { color: #0000FF; }
span.code-Declaration { color: #0000FF; }
span.code-Punctuation { color: #000000; }
span.code-TypeRef { color: #0000FF; }
span.code-DeclRef { color: #00a000; }
span.code-FunctionName { color: #00a000; }
span.code-RuleHead { color: #00a000; }
span.code-ParamName { color: #00a000; }
span.code-Literal { color: #a00000; }
span.code-String { color: #a00000; }
span.code-Number { color: #a00000; }
span.code-Keyword { color: #ff0000; }
span.code-Comment { color: #008000; }


div.code-documentation
{
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid lightgrey;
  border-top: 3px solid lightgrey;
}


div.code-documentation-inner
{
  padding: 0 1em;
  margin-top: -0.8em;
}

div.code-documentation-inner > span.code-documentation-heading
{
  background: white none repeat scroll 0 0;
  color: #555;
  padding: 0 2px;
  margin-left: 1em;
  font-weight: 700;
  font-size: 18px;
}

div.code-documentation-inner > div.listing
{
  margin-top: 0.75em;
}





table
{
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even)
{
	background-color: #e8e8e7;
}

